.logo{
    width: 150px;
    cursor: pointer;
}
ul{
  
}
.homename{
  color:#151a46;
}
/* body {
  background-image: url('img/hero.png');
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  background-size: cover;
} */
  /* .hero-image {
    background: url('my-mobile-hero-image.jpg') no-repeat center top;
    background-size: cover;
  }
  @media (min-width: 768px) {
    background: url('my-hero-image.jpg') no-repeat center top;
  }
} */
